@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-size: 1.2em;
  transition: ease-in-out;
  transition-duration: 200ms;
}

body {
  background: theme("colors.back.dark");
  color: theme("colors.font.default");
}

.navMenu .active {
  color: theme("colors.font.light");
}